@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  display: grid;

  justify-items: end;


  &__btn {
    display: none;
  }

  &__list {
    display: grid;
    justify-content: end;

    width: 100%;

    gap: $gap;
    grid-template-columns: repeat(auto-fit, minmax(30px, max-content));
    @include unlist(0 (-$gap-sm) 0 0);
  }



  &__link {
    display: block;

    padding: $gap $gap-sm;

    transition: color 0.25s;
    letter-spacing: 0.088em;

    font-size: 1.125rem;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}

.header-navbar__btn {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.header-navbar__btn {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.header-navbar__btn span:nth-child(1) {
  top: 0px;
}

.header-navbar__btn span:nth-child(2),
.header-navbar__btn span:nth-child(3) {
  top: 18px;
}

.header-navbar__btn span:nth-child(4) {
  top: 36px;
}

.header-navbar__btn.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header-navbar__btn .open span:nth-child(2) {
  transform: rotate(45deg);
}

.header-navbar__btn .open span:nth-child(3) {
  transform: rotate(-45deg);
}

.header-navbar__btn .open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}