@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  display: grid;
  justify-items: end;


  &__btn {
    display: none;
  }

  &__list {
    @include unlist(0 (-$gap-sm) 0 0);
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(30px, max-content));
    gap: $gap;
    justify-content: end;
  }

  &__item {}

  &__link {
    display: block;
    padding: $gap $gap-sm;
    font-size: 1.125rem;
    letter-spacing: 0.088em;
    transition: color 0.25s;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}